.priority {
  border-radius: 2px;
  color: black;
  padding: 0.1rem 0.4rem;
  text-transform: capitalize;
  max-height: 24px;
}
.priority-low {
  background-color: var(--color-green);
}
.priority-moderate {
  background-color: var(--color-yellow);
}
.priority-high {
  background-color:var(--color-red);
}