.bar {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: center;
  
}
.bar h1{
  flex-grow: 1;
}

.delete-button{
  height: 100%;


  margin-left: 0;
  font-weight: 100;
  font-size: 1.2rem;
  padding: 0.2rem 0.6rem;
  background-color: rgb(252, 102, 102);
  border-radius: 2px;
  border: 0;
  color: #fff;
  cursor: pointer;
  word-wrap: none;
}
.add-ticket{
  height: 48px;
width: 100%;

  margin-left: 0;
  font-weight: 100;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 0;
  color: #fff;
  cursor: pointer;
  word-wrap: none;
}
.board-container {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.board-section {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
/*   background-color: var(--color-background-light);
 */}
 .project-input-name {
  border: none;
  background-color: transparent;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  display: inline;
  outline: none;
}

.back-button{
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: auto;

  min-width: 50px;
  margin: auto;
  margin-left: 0;
  font-weight: 100;
  font-size: 1.6rem;
  background-color: var(--color-accent2);
  border-radius: 5px;
  border: 0;
  transition: all 0.3s ease-in-out;
  color: white;
  cursor: pointer;
}