body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--color-background-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Dark theme colors */
  --color-background-dark: #191919;
  --color-background-light: #252525;
  --color-text: #ffffff;
  --color-accent: #45cfdd;
  --color-accent-light: #a7ede7;
  --color-accent-dark: #008080; /* Teal */

  /* Modern accent colors */
  --color-accent2: #00a9a9; /* Purple */
  --color-accent2-light: #1bc4c4;
  --color-accent2-dark: #0f5252; /* Dark purple */
  --color-accent3: #9681eb;
  /* Additional colors */
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
  margin: 0;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.no-margin {
  margin: 0;
}
