body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  /* Dark theme colors */
  --color-background-dark: #232323;
  --color-background-light: #363636;
  --color-text: #ffffff;
  --color-accent: #ff5722;
  --color-accent-light: #ff8a65;
  --color-accent-dark: #e64a19;

  /* Modern accent colors */
  --color-accent2: #2196f3;
  --color-accent2-light: #64b5f6;
  --color-accent2-dark: #1976d2;

  /* Additional colors */
  --color-primary: #ff0000;
  --color-secondary: #00ff00;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text);
  margin: 0;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}